.Button {
  padding: 11px 48px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

.primary {
  background-color: var(--primary-blue);
  color: white;
  font-weight: 700;
}

.secondary {
  background-color: var(--primary-blue);
  border: 1px solid black;
  color: black;
}
